.forgot-password-container {
    display: flex;            
    justify-content: center;  
    align-items: center;      
    background-color: #e59191;
    min-height: 100vh;        
    width: 100vw;             
    position: absolute;       
    top: 0;                   
    left: 0;  
}

.forgot-password-border {
    display: flex;
    flex-direction: column;   
    justify-content: center;
    background-color: #fdb8b8;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    
}

.forgot-password-form {
    background-color: #FCF1F1;
    padding: 40px;
    position: relative;
    padding-inline: 50px;   
    margin: 10px;
    border-radius: 20px;
    width: 500px;
    height: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box-icon-container {
    cursor: pointer;
    position: absolute;
    top: 1em;  
    left: 1em; 
}

.box-icon-container:hover {
    opacity: 0.8; /* Adds a visual feedback on hover */
}

.forgot-password-form h1 {
    font-size: 2.3em;
    color: #e87070;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 600;
}

.forgot-password-form label {
    font-size: 1.1em;
    margin-bottom: 8px;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.recovery-requirements {
    font-size: 1.1em;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.recovery-requirements ul, .recovery-requirements li {
    list-style-type: disc;  
    padding-left: 5px;     
    margin-left: 5px;
}

.forgot-password-form input[type="email"],
.forgot-password-form input[type="password"] {
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #FCF1F1; 
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
}

.forgot-password-form ::placeholder {
    color: #a2a2a2;       
    font-family: 'Poppins', sans-serif; 
    font-size: 1.1em; 
}

.recovery-message {
    color: #6e6e6e;  
    margin-top: 10px;     
    font-family: 'Poppins', sans-serif; 
    font-size: 1.0em; 
}

.recovery-error {
    color: #db2828;  
    margin-top: 10px;     
    font-family: 'Poppins', sans-serif; 
    font-size: 1.0em; 
}

.custom-line {
    color: #333;
    margin-bottom: 30px;
    margin-top: 30px;
  }

#forgotResetButton {
    padding: 12px;
    background-color: #e87070; 
    color: #fff3f3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.4em;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    font-weight: 600;
}

#forgotResetButton:hover {
    background-color: #c95353;
}
